.jumbotron {
    padding: 20px !important;
    margin: auto !important;
}
.card-header {
    border: transparent !important;
    background-color: transparent !important;
    font-weight: bold !important;
    color: #a9a9a9 !important;
    padding-bottom: unset !important;
}
.card-body {
    padding-top: unset !important;
}