<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>GUMGA - Componente Avaliador de Seguran&ccedil;a</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="/css/bootstrap-reboot.min.css" rel="stylesheet">
    <link href="/css/gumga-password-meter.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <!--h1>Exemplo de utiliza&ccedil;&atilde;o</h1-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">AVALIADOR DE SEGURAN&Ccedil;A DE SENHA</div>
                    <div class="card-body col-md-12">
                        <div class="col-md-12 jumbotron jumbotron-fluid">
                            <div class="form-group col-md-3">
                                <input class="form-control"
                                       autocomplete="off"
                                       aria-autocomplete="none"
                                       onkeyup="chkPass(this.value);"
                                       type="password"
                                       placeholder="Senha"
                                       name="snh"
                                       id="snh">
                                <span class="badge badge-default" id="score">0 %</span>
                                <span class="badge badge-danger" id="complexity">Muito curta</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/gumga-password-meter.js"></script>
</body>
</html>